* {
    margin: auto;
}

div.main {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

div.user-detail-edit-div {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

div.user-detail-edit-div div {
    margin: 5%;
}

div.image-prof-div {
    box-sizing: border-box;
    border: 3px solid #CFCFCF;
    border-style: dashed;
    border-radius: 1px;
}

div.image-prof-div:hover {
    border: 3px solid #d99058;
    border-style: dashed;
}

div.image-prof-div input {
    opacity: 0;
    display: none;
}

div.image-prof-div label {
    text-align: center;
    font-size: 100%;
    opacity: 0.7;
    padding: 50px;
}

div.image-prof-div label:hover {
    opacity: 1;
}


div.change-passwd-div {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.sex-div {
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 1024px) {
    div.main {
        margin-left: 1%;
        margin-right: 1%;
    }
}