/* forms */
form {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* forms <-> legend */
legend {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 250%;
}

/* forms <-> legend */

/* forms <-> label */
label {
    font-size: 110%;
    display: block;
}

/* forms <-> label */


/* forms <-> input */
/* input-> type="text", "passowrd", ... */
input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    display: block;
}

input:hover {
    border: 1px solid #d99058;
}

input:focus {
    border: 1px solid #d99058;
}

/* forms <-> input */

/* forms <-> select */
select {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    display: block;
}

select:hover {
    border: 1px solid #d99058;
}

select:focus {
    border: 1px solid #d99058;
}

/* forms <-> select */

/* forms <-> textarea */
textarea {
    display: block;
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    outline: none;
    border: 1px solid #CFCFCF;
}

textarea:hover {
    border: 1px solid #d99058;
}

textarea:focus {
    border: 1px solid #d99058;
}

/* forms <-> textarea */

/* forms <-> submit */

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid inherit;
    /* margin-top: 5%;
    margin-bottom: 5%; */
}

button:hover {
    border: 1px solid #d99058;
}

button:active {
    background-color: #d99058;
    color: #CFCFCF;
}
/* forms <-> submit */

/* forms <-> checkbox */
.chbx-div {
    margin-top: 0px;
    margin-bottom: 0px;
}

.chbx-div span {
    background-color: inherit;
    display: block;
}

.chbx-div input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.chbx-div *,
.chbx-div ::after,
.chbx-div ::before {
    box-sizing: border-box;
    font-size: 100%;
}

/* The switch - the box around the slider */
.chbx-div .switch {
    font-size: 15px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.chbx-div .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.chbx-div .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 15px;
}

.chbx-div .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

.chbx-div input:checked+.slider {
    background-color: #0067a5;
    border: 1px solid #0067a5;
}

.chbx-div input:focus+.slider {
    box-shadow: 0 0 1px #C96FFF;
}

.chbx-div input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

/* forms <-> checkbox */

/* forms <-> form-errors */
div.form-errors-inner-div {
    background-color: #0067a5;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div.form-errors-inner-div p,
div.form-errors-inner-div ul,
div.form-errors-inner-div li {
    background-color: #f77fbe;
}

/* forms <-> form-errors */

/* forms */